@import "tailwindcss";

.carImg {
  transition: background-size 1s ease;
  background-position: center;
}

.carImg:hover {
  background-size: 105%;
}

.mainCar {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.mainCar:hover {
  transform: translateY(-10px);
  background-color: #181818;
}